<nav class="navbar navbar-expand-lg site-navbar navbar-dark" aria-label="Main navigation">
    <div class="container">
        <a class="navbar-brand" href="">Thesis Collaboration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Αρχική</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="dashboard">Student Dashboard</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="updates">Thesis Updates</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="meetings">Meetings</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="assignments">Supervisor Workflow</NavLink>
                </li>
            </ul>
            <a class="btn btn-outline-light ms-lg-3" href="assignments">Assign Supervisor</a>
        </div>
    </div>
</nav>

